MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=nutrimed
MYSQL_USER=root
MYSQL_PASSWORD=secret

API_GATEWAY_PORT=3000
PATIENT_SERVICE_PORT=3001
MEDICAL_SERVICE_PORT=3002
RECOMMENDATION_SERVICE_PORT=3003

PATIENT_SERVICE_URL=http://localhost:3001
MEDICAL_SERVICE_URL=http://localhost:3002
RECOMMENDATION_SERVICE_URL=http://localhost:3003
